<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand"
        [routerLink]="['']">SPA</a>

    <div id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link"
                [routerLink]="['/product/list']"
                routerLinkActive="active">Products</a>

        </div>
    </div>


    <div id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link"
                [routerLink]="['/category/list']"
                routerLinkActive="active">Category</a>

        </div>
    </div>
</nav>