<div class="row justify-content-center">
  <div class="col-8 mt-4">
    <h4>Add Product</h4>
    <form [formGroup]="productForm"
      (ngSubmit)="onSubmit()">


      <div class="form-group" [ngClass]="{'is-invalid': isSubmitted &&
        gfc.name.errors}">
        <label for="productName">Product Name</label>
        <input type="text"
          formControlName="name"
          name="name"
          id="productName"
          class="form-control"
          placeholder="Name">
        <div class="notValid" *ngIf="gfc.name.errors?.pattern">
          code should be maximum 8 digit.
        </div>
        <div class="notValid" *ngIf="gfc.name.errors?.maxlength">
          code should be maximum 8 digit.
        </div>
      </div>

      <div class="mb-3 form-group" [ngClass]="{'is-invalid': isSubmitted &&
        gfc.code.errors}">
        <label for="productCode">Product Code</label>
        <input type="text"
          name="code"
          formControlName="code"
          class="form-control"
          id="productCode"
          placeholder="Code">
      </div>
      <div class="mb-3 form-group">

        <select formControlName="category" class="form-control">
          <option *ngFor="let cat of categories$ | async">
            {{ cat.name }}
          </option>
        </select>
      </div>


      <button class="btn btn-primary m-1"
        [routerLink]="['/product/list']"><i class="fas fa-arrow-left"></i> Back
        To List</button>

      <button class="btn btn-success m-1"
        type="submit">Add Product <i class="fas fa-plus"></i></button>
    </form>

  </div>
</div>
